body {
    background-color: #EEF9BF;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header>h1 {
    margin-top: 50px;
    display: block;
    width: 100%;
    color: #75B79E;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -0.004em;
}

.card {
    width: 117px;
    height: 146px;
    border-radius: 5px;
    border: 1px;
    opacity: 0px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    background-image: url(../img/front.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-y: 18px;
    background-position-x: 6px;
    margin-right: 20px;
}

.tableCards {
    margin-top: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
}